---
language: python
services: docker

env:
  global:
    - ROLE_NAME: ssh
  matrix:
    - MOLECULE_DISTRO: centos7
    - MOLECULE_DISTRO: fedora27
    - MOLECULE_DISTRO: ubuntu1804

before_install:
  - >
    openssl aes-256-cbc -K $encrypted_c8be7c2170c1_key -iv $encrypted_c8be7c2170c1_iv -in id_rsa.tar.enc
    -out id_rsa.tar -d
  - tar xvf id_rsa.tar -C /tmp

install:
  # Install test dependencies.
  - pip install molecule yamllint ansible-lint docker

before_script:
  # Use actual Ansible Galaxy role name for the project directory.
  - cd ../
  - mv ansible-role-$ROLE_NAME thuvh.$ROLE_NAME
  - cd thuvh.$ROLE_NAME
  - cat molecule/default/molecule.yml

script:
  # Run tests.
  - molecule test --parallel --all

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
